/* CSS HEADER */

header a {
    color: #3b5998 !important;
}

#menuHeader_list {
    list-style: none;
    text-align: center;
}

#header_menu_list {
    list-style: none;
    text-align: center;
}


/* CSS Page Accueil */

#index_page {
    position: relative;
    margin-bottom: 100px;
}

#index_page img {
    max-height: 100%;
    max-width: 100%;
    z-index: 1;
}

#index_page h1 {
    color: wheat;
    text-shadow: 0px 0px 50px #3b5998;
    text-align: center;
    position: relative;
    top: 150px;
    z-index: 10;
}


/* CSS Localisation MAP */

#localisation_card,
#localisation_iframe {
    width: 600px;
}

#localisation_iframe {
    height: 400px;
}

#localisation_card_title {
    height: 3rem;
}


/* CSS du formulaire */

.label_form {
    color: #3b5998;
    text-align: center;
}


/*CSS contenu */

.page_content {
    border: solid;
    min-height: 500px;
}

main {
    margin: 100px 10% 150px 10%;
    color: #3b5998;
}

section.desc_content {
    text-align: center;
    border-bottom: 2px solid #3b5998;
    margin-bottom: 25px;
}

section.content {
    margin-bottom: 100px;
}

section.content h2 {
    font-size: 20px;
    padding-top: 15px;
}

section.content p {
    font-size: 16px;
    font-style: italic;
    min-height: 70px;
    vertical-align: middle;
}

article {
    margin: 10px 10px 30px 10px;
    padding: 5% 5% 1% 5%;
    text-align: center;
    border: 4px solid #3b5998;
    border-radius: 15px;
}

article.prestation img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}

article.realisation img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}

article.employee img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}


/* CSS FOOTER */

.footer_sn_icons {
    font-size: 30px;
}

#footer_fb_icon {
    color: #3b5998;
}

#footer_tw_icon {
    color: #00acee;
}

#footer_lkdn_icon {
    color: #0e76a8;
}

#footer_insta_icon {
    color: #8a3ab9;
}

footer #copyright {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #3b5998;
}